* {
  box-sizing: border-box;
}

main {
	margin: 0 auto;
	max-width: 90%;
  padding: 50px 30px;
}

:root {
  --primary: #3C91E6;
  --secondary: #9fd356;
  --tertiary:  #342E37;
  --light:  #FAFFFD;
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);

}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

body {
  font-family: Work Sans;
  text-align: center;
  background-color: var(--secondary);

}

#nav-tabs, li {
  font-size: 25px;
  list-style-type: none;
  color:var(--tertiary);
  text-align: justify;
  display: inline;
  text-decoration: none;
  margin-top: 2px;
  padding: 6px;
}

.tabs {
  border: 2px solid black;
}

div.navbar-brand {
  text-align: center;
  color:var(--tertiary);
  padding: 30px;
  font-size: 40px;
  background-color: var(--primary);
}

.navbar .navbar-brand > .navbar-item,
.navbar .navbar-brand .navbar-link {
  display: inline;
}

.label {
  text-align: left
}

.card-footer-item {
  text-decoration: underline;
}

#link {
  text-decoration: underline;
}

#skills {
  list-style-type: circle;
  text-align: left;
}

#skill-title {
  text-align: Left;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 40px;
}

#resume{
  font-size: 40px;
  text-align: left; 
  border: 2px solid black;
  border-radius: 10px;
}

#download{
  text-decoration: underline;
  list-style-type: circle;
  text-align: left;
}

#email-link{
  text-decoration: underline;
}

@media only screen and (max-width: 1024px) {
  main {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 2em;
    margin-right: 2em;
  }
}
